@import url('https://fonts.googleapis.com/css?family=Pixelify+Sans');

* {
  --font-primary: Pixelify Sans;
  --font-display: Pixelify Sans;
  --font-headline: Pixelify Sans;
  text-rendering: optimizeLegibility;
  text-transform: none !important;
}

/* Monospace Font */

@font-face {
  font-family: 'monogram';
  src: url("https://menez.io/css/font/monogram_extended.ttf") format('truetype');
}

code,
.codeBlockText_ada32f,
.codeLine_ada32f,
.markup__75297 code.inline,
.after_inlineCode_ada32f,
.before_inlineCode_ada32f,
.inlineCode_ada32f,
.markup__75297 code {
  font-family: "monogram", monospace;
  font-size: 20px;
}
